<template>
  <div class="section">
    <div class="userinfo">
      <!-- <open-data class="vendor-img" type="userAvatarUrl"></open-data> -->
      <!-- <open-data class="vendor-name" type="userNickName"></open-data> -->
      <img class="bg" :src="bG">
      <button class="btn login_btn" open-type="getUserInfo" @getuserinfo="getUserInfo" type="primary">微信用户快速登录</button>
    </div>
  </div>
</template>

<script>
import Login from '../../utils/login.js'
// import Bg from '../../asset/images/login_bg.png'
import Bg from '../../asset/images/login_bg.jpg'
export default {
  components: {},
  data () {
    return {
      bG: Bg,
    }
  },
  methods: {
    getUserInfo(e){

      let _dn = '', opt = getApp().globalData.appOptions;
      if(opt.query.q){
        _dn = decodeURIComponent(opt.query.q)
        _dn = _dn.split('dn=')[1]
      }else{
        _dn = opt.query.dn
      }

      wx.getSetting({
        success: r=>{
          if(r.authSetting['scope.userInfo']){
            Login(_dn).then(r=>{
              if (!r.data.phone) {
                wx.redirectTo({
                  url: '/pages/phone/main'
                })
              } else {
                if(opt.scene == 1011){
                  wx.reLaunch({
                    url: '/pages/unLock/main?dn=' + _dn + '&hasBack=1'
                  })
                }else{
                  wx.reLaunch({
                    url: `/${getApp().globalData.appOptions.path}`
                  })
                }
              }
            }).catch(e=>{
              console.log('登录失败', e)
            })
          }
        }
      })
    },

    navigator(){
      let _GDA = getApp().globalData.appOptions
      let _dn = ''
      console.log('LOGIN_GDA', _GDA)
      if(_GDA.query.q){
        _dn = decodeURIComponent(_GDA.query.q)
        _dn = _dn.split('dn=')[1]
      }else{
        _dn = _GDA.query.dn
      }
      if(_GDA.scene == 1011){
        wx.redirectTo({
          url: '/pages/unLock/main?dn=' + _dn + '&hasBack=1'
        })
      }else{
        wx.redirectTo({
          url: '/' + _GDA.path
        })
      }
    }
  },
}
</script>

<style scoped lang="less">
.section{background-color: #fff}
  .userinfo{flex: 1;display: flex;flex-direction: column;align-items: center;justify-content: center;padding-bottom: 30px}
  // .vendor-img{width: 64px;height: 64px;border-radius: 50%;overflow: hidden}
  // .vendor-name{margin: 20px;}
  .bg{width: 95%; height: 225px;margin-bottom: 50px;}

  .login_btn{
    width:78%;align-self:center;text-align: center;letter-spacing:1px;border-radius: 30px;box-shadow: 0px -1px 2px 2px rgba(0, 0, 0, 0.1);
  }
</style>
