<template>
  <div class="section">
    <div class="alert-p">手机号没注册在登录时会自动注册</div>
    <from class="weui-cells weui-cells_form">
      <div class="weui-cell weui-cell_input">
        <div class="weui-cell__hd">
            <div class="weui-label">手机号</div>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="number" placeholder="请输入手机号" focus maxlength="11" v-model="phoneVal">
        </div>
      </div>
      <div class="weui-cell weui-cell_input code">
        <div class="weui-cell__hd"><div class="weui-label">验证码</div></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="number" placeholder="请输入验证码" v-model="codeVal">
        </div>
        <div class="weui-cell__ft">
            <div class="weui-vcode-btn" :class="{disabled: codeTime}" @click="getPhoneCode">{{codeTime > 0 ? '获取验证码('+codeTime+')' : '获取验证码'}}</div>
        </div>
      </div>
    </from>
    <p class="warning-p" v-if="warningText">请输入{{warningText}}</p>
    <button type="primary" @click="loginClick" :disabled="!btnStatus" :loading="!btnStatus" open-type="getUserInfo">登&nbsp;&nbsp;&nbsp;&nbsp;录</button>
  </div>
</template>

<script>

export default {
  components: {},
  data () {
    return {
      phoneVal: '',
      codeVal: '',
      codeTime: 0,
      btnStatus: true,
      warningText: ''
    }
  },
  methods: {
    dataInit(){
      this.phoneVal = ''
      this.codeVal = ''
      this.codeTime = 0
      this.btnStatus = true
      this.warningText = ''
    },
    changeTime(){
      let _timer = null
      _timer = setInterval(()=>{
        if(this.codeTime > 0){
          this.codeTime --
        }else{
          clearInterval(_timer)
        }
      }, 1000)
    },
    getPhoneCode(){
      if(!this.codeTime){
        this.codeTime = 4
        this.changeTime()
      }
    },
    loginClick(){

      if(!this.phoneVal){
        this.warningText = '手机号'
      }else if(!this.codeVal){
        this.warningText = '验证码'
      }else{
        this.warningText = ''
        this.btnStatus = false
        this.login()
      }
    },

    login(){
      console.log('确认登录')
      wx.reLaunch({
        url: '../index/main'
      })
    }
  },
  created(){
    console.log('login___created', this)
  },
  mounted(){
    console.log('login___mounted', this)
    this.dataInit()
  },
  onLoad(){
    console.log('login___onLoad', this)
  },
  onShow(){
    console.log('login___onShow', this)
  },
  onUnload(){
    console.log('login___onUnload', this)
  },
  onHide(){
    console.log('login___onHide', this)
  },
}
</script>

<style scoped lang="less">
  .alert-p{padding: 6px 0 4px 10px;background-color: #fff1b8;font-size: 14px;color: #666;
    &:before{
      content: " ";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 1px;
      border-top: 1px solid #D9D9D9;
      color: #D9D9D9;
      // -webkit-transform-origin: 0 0;
      //         transform-origin: 0 0;
      // -webkit-transform: scaleY(0.5);
      //         transform: scaleY(0.5);
    }

  }
  .weui-cells_form{margin-top: 0}
  .code{padding-right: 0}
  .weui-label{width: 70px;}
  .weui-vcode-btn{width: 115px;text-align: center;
    &.disabled{color: #888}
  }
  .warning-p{padding: 6px 0 5px 10px;font-size: 14px;color: #e64340}
  button{margin: 20px 10px 0}
</style>
