<template>
  <div class="dialog-mask">
  	<div class="dialog-wrapper">
  		<div class="header">
  			提示
  		</div>
  		<div class="body">
  			当前操作需要登录
  		</div>
  		<div class="footer">
  			<button>取消</button>
  			<button open-type="getUserInfo" @getuserinfo="getUserInfo" type="primary">登录</button>
  		</div>
  	</div>
  	<!-- login dialog -->
  </div>
</template>

<script>
import Login from '../../utils/login.js'
export default {
  components: {},
  data () {
    return {
    }
  },
  methods: {
	getUserInfo(e){
      console.log('e', e)
      wx.getSetting({
        success: r=>{
          if(r.authSetting['scope.userInfo']){
            wx.getUserInfo({
              lang: 'zh_CN',
              success: rs=>{
                console.log('rs', rs)
                wx.setStorage({
                  key: 'userinfo',
                  data: rs.rawData
                })
                getApp().globalData.UserInfo = JSON.parse(rs.rawData)

                // this.$set(this.userInfo, 'encryptedData', rs.encryptedData)
                // this.$set(this.userInfo, 'iv', rs.iv)
                // this.$set(this.userInfo, 'code', getApp().globalData.Code)

                let _data = {
                	'encryptedData': rs.encryptedData,
                	'iv': rs.iv,
                	'code': getApp().globalData.Code
                }

                Login(_data)
              }
            })
          }
        }
      })
    },
  }
}
</script>

<style lang="less" scoped>
	.dialog-mask{position: fixed;top: 0;left: 0;right: 0;bottom: 0;display: flex;align-items: center; justify-content: center; z-index: 1}
	.dialog-wrapper{display: flex; flex-direction: column;padding: 20px; min-width: 65%; background: #fff;border-radius: 7px;z-index: 2;
		.header{font-size: 20px;color: #383838;
			&+.body{margin-top: 15px;}
		}
		.body{flex: 1;text-indent: 2em;font-size: 16px;color: #888;
			&+.footer{margin-top: 30px;}
		}
		.footer{
			display: flex;justify-content: space-around;
			// button{width: 100%; background: transparent;outline: none; color: initial}
			button{flex: 1;margin: 0 5px;}
		}
	}
</style>
