<template>
   <!-- :style="{height: dataArr.length ? 'initial' : '100%', 'justify-content': dataArr.length ? '' : 'center'}" -->
  <div class="section" :style="{height: dataArr.length ? 'initial' : '100%'}">
  	<ul class="A" v-if="dataArr.length">
  		<li class="a" v-for="(v, i) in  dataArr" :key="i">
  			<div>
  				<p class="way">{{v.ctime}}</p>
  				<p class="time">{{v.source}}</p>
  			</div>
  			<span :class="{plus : v.money > 0, minus: v.money < 0}">
  				<font v-if="v.money > 0">+</font>{{v.money}}<span style="font-size: 14px;">元</span>
  			</span>
  		</li>
  	</ul>
    <div class="no-data" v-else></div>
  	<div class="weui-loadmore" v-if="isLoadMore">
        <i class="weui-loading"></i>
        <span class="weui-loadmore__tips">正在加载</span>
    </div>
  </div>
</template>

<script>
import NoDataImg from '../../asset/images/nodata.png'
export default {
  components: {},
  data () {
    return {
      page: 1,
      perPage: 12,
      dataArr: [],
      ndImg: NoDataImg,
      isLoadMore: false,
    }
  },
  methods: {
  	dataInit(){
      this.page = 1
      this.dataArr = []
  		this.isLoadMore = false
  	},
    FunDataList(p = 1){
      p = this.page == 1 ? p : this.page
      this.$Https.post('/index/Accounts/getAccountDetailList', {
        uid: getApp().globalData.Uid,
        page: p,
        pageSize: this.perPage,
        type: 2
      }, {isLoading: p == 1}).then(r=>{
        wx.stopPullDownRefresh()
        console.log('r', r)
        this.dataArr = p == 1 ? r.data : this.dataArr.concat(r.data)
        this.isLoadMore = r.is_next == 1
      }).catch(e=>{
        console.log('e', e)
      })
    },
  },
  onPullDownRefresh(){
    this.page = 1
    this.FunDataList()
  },
  onReachBottom(){
    if(!this.isLoadMore) return
    this.page++
    this.FunDataList()
  },
  onUnload(){
  	this.dataInit()
  },
  onShow(){
    console.log('moneyRecord__onShow', this)
  },
  mounted(){
    console.log('moneyRecord__mounted', this)
    this.FunDataList()
  }

}
</script>

<style scoped lang="less">
	.section{background: #fff;justify-content: center}
	.a{
		position: relative;display: flex;align-items: center;justify-content: space-between;padding: 10px 15px;
		&:not(:first-child):before{
			content: '';position: absolute;top: 0;left: 0;right: 0;border-top: 1px solid #e5e5e5;
		}
		div{flex: 1;}
		span{font-size: 26px;
			&.plus{color: #09BB07;}
			&.minus{color: #E64340}
		}
	}
	.way{font-size: 20px;}
	.time{font-size: 14px;color: #888}
	.weui-loadmore{
		&.hidden{overflow: hidden;height: 0;margin: 0;transition: all .2s ease;}
	}
</style>
