<template>
  <web-view :src="url"></web-view>
</template>

<script>

export default {
  components: {},
  data () {
    return {
    	url: ''
    }
  },
  methods: {

  },
  onLoad(opt){
  	this.url = opt.url || 'http://devpos.ybe.03in.com:8086/Mobile/Web/cashier/#/home'
  }
}
</script>

<style>

</style>
