<template>
  <div class="section">
  	<div class="header">充值金额<span v-if="needMoney > 0">本次最低充值{{needMoney}}元才可使用</span></div>
  	<div class="main">
			<div class="money-grids">
				<div class="money-grid" :class="{active: currentIndex == i}" v-for="(v, i) in dataArr" :key="i" @click="clickItems(i)">充{{v}}</div>
        <div class="money-grid" :class="{active: currentIndex == 6}" @click="clickItems(6)">其他</div>
				<div class="money-grid money-input" v-if="currentIndex == 6">
					<input focus="inputFocus" type="number" v-model="moneyVal" name="" @input="input" placeholder="请输入金额" placeholder-style="font-size: 16px;">
				</div>
			</div>
  	</div>
	<div class="footer">
		<p>点击去充值，即表示已阅读并同意<navigator class="agreement" url="/pages/agreement/main">《充值协议》</navigator></p>
		<button type="primary" @click="btnClick">充值</button>
	</div>
  </div>
</template>

<script>
import Pay from '../../utils/wxpay.js'
export default {
  components: {},
  data () {
    return {
    	currentIndex: 0,
    	dataArr: [10,20,50,100,200,300],
    	type: 1,
    	moneyVal: '',
      inputFocus: false,
    	needMoney: 0
    }
  },
  computed: {
  	rechargeMoney(){
  		if(this.currentIndex == 6){
  			return Number(this.moneyVal).toFixed(2)
  		}else{
  			let _Num = this.dataArr[this.currentIndex]
  			return _Num.toFixed(2)
  		}
  	}
  },
  methods: {
    dataInit(){
      this.currentIndex = 0
      this.moneyVal = ''
    },
  	clickItems(i){
  		this.currentIndex == i || (this.currentIndex = i, this.moneyVal = '')

      this.$nextTick(()=>{
        this.inputFocus = i == 6
      })
  	},

    input(e){
      let _v = e.mp.detail.value
      console.log('v', _v, _v.split('.').length)
      if(_v.split('.').length >= 3 || _v.split('.')[1] && _v.split('.')[1].length >= 3){
        this.moneyVal = _v.slice(0, -1)
      }
    },
  	btnClick(){
      if(!+this.rechargeMoney){
        wx.showToast({
          icon: 'none',
          title: '请输入金额'
        })
      }else{
        Pay({type: 'CZ', label: '充值', money: this.rechargeMoney})
      }
  	}
  },
  onLoad(opt){
    this.dataInit()
    this.type = opt.type || 1
    this.needMoney = Math.abs(opt.money) || 0
  }
}
</script>

<style lang="less" scoped>
	.header{padding: 20px;
		span{margin-left: 10px;font-size: 12px;color: #e64340}
	}
	.main{
		.money-grids{display: flex;flex-wrap: wrap;justify-content: center;align-items: center; padding: 10px 0; background-color: #fff;}
		.money-grid{width: 42%; margin: 3% 4%; padding: 10px; border: 1px solid #238F9F;border-radius: 5px; text-align: center; box-sizing: border-box;
			&.active{background-color: #238F9F;color: #fff}
		}
		.money-input{
			padding: 0;border: none;
			input{padding: 5px 20px;border-bottom: 1px solid #238F9F;font-size: 24px;}
      .input-placeholder{font-size: 14px;color: red}
		}
	}
	.footer{align-self: center;width: 90%;margin: 20px 0;text-align: center;
		p{font-size: 13px;}
		.agreement{display: inline-block; color: #4183c4}
		button{margin-top: 10px;}
	}
</style>
