<template>
  <div class="section">
  	<article class="main" v-html="content">
  	</article>
		<div class="footer" v-if="content != ''">
			<button type="primary" @click="toBack">我知道了</button>
		</div>
  </div>
</template>

<script>

export default {
  components: {},
  data () {
    return {
      content: ''
    }
  },
  methods: {
  	toBack(){
  		wx.navigateBack()
  	},
    FunGetPro(){
      this.$Https.post('/index/Accmoney/info_protocol/', {type: 1}, {isLoading: true}).then(r=>{
        this.content = r.content
      }).catch(e=>{
        console.log('e', e)
      })
    },
  },
  mounted(){
    if(this.content.length) return
    this.FunGetPro()
  }
}
</script>

<style scoped>
.section{height: initial;padding: 10px;}
.header{padding: 10px 0;text-align: center;font-size: 20px;}
.main p{margin-bottom: 15px;text-indent: 2em}
.main div{font-weight: bold;}
.footer{padding: 10px;margin: 20px 0;}
</style>
