<template>
  <div class="section">
    <div class="weui-cells">
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <p>订单号</p>
        </div>
        <div class="weui-cell__ft">{{data.order_no}}</div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <p>设备编号</p>
        </div>
        <div class="weui-cell__ft">{{data.qr_no}}</div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <p>开始使用时间</p>
        </div>
        <div class="weui-cell__ft">{{data.billing_start}}</div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <p>结束使用时间</p>
        </div>
        <div class="weui-cell__ft">{{data.billing_end}}</div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <p>消费金额</p>
        </div>
        <div class="weui-cell__ft">{{data.money}}元</div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  components: {},
  data () {
    return {
      data: {}
    }
  },
  methods: {
  	click(){
  		wx.navigateTo({
  			url: '../wallet/main'
  		})
  	}
  },
  onLoad(opt){
    console.log('opt', opt)
    this.data = JSON.parse(opt.value)
  },
  mounted(opt){
    console.log('opt', opt)
  },
}
</script>

<style>

</style>
