<template>
  <div class="section">
  	<div class="header">
        <icon :type="type == '1' ? 'success' : 'warn'" size="85"/>
        <div>{{type == '1' ? '充值成功' : '到账失败, 请联系客服'}}</div>
  	</div>
  	<div class="main">
  		<button type="primary" @click="toBack">返回上一步</button>
  		<button @click="toBack(0)">返回首页</button>
  	</div>
  </div>
</template>

<script>

export default {
  components: {},
  data () {
    return {
      type: 1
    }
  },
  methods: {
    toBack(n = 1){
      n ? wx.navigateBack() : wx.reLaunch({url: '/pages/index/main'})
    }
  },
  onLoad(opt){
    console.log('result__onLoad', opt)
    this.type = opt.n
  }
}
</script>

<style scoped lang="less">
	.section{text-align: center}
	.header{padding: 50px 0;div{margin-top: 10px;font-size: 20px;}}
  .main{margin-top: 30px;}
	button{width: 90%;margin-bottom: 20px;}
</style>
