@charset "UTF-8";
/**
 * @Author: Liudu (***@***.***)
 * @Date:   2018-07-25 11:05:20
 * @Last Modified by:   Liudu
 * @Last Modified time: 2018-08-27 15:08:16
 */
body{height: 100%; background-color: #f7f8f9; font-size: 16px;}

img{vertical-align: top}

button[type=primary]{background: #238F9F}
.section{position: relative;display: flex;flex-direction: column;height: 100%;
	.main{flex: 1}
}

.dialog-mask{position: fixed;top: 0;left: 0;right: 0;bottom: 0;display: flex;align-items: center; justify-content: center; background: rgba(0,0,0,0.2); z-index: 1}

.dialog-wrapper{
	display: flex; flex-direction: column;line-height: 1;padding: 25px 20px; width: 70%; min-width: 65%; background: #fff;border-radius: 7px;z-index: 2;
	.header{font-size: 20px;color: #383838;
		&+.main{margin-top: 15px;}
	}
	.main{flex: 1;padding: 10px; text-indent: 2em;font-size: 16px;color: #888;line-height: initial;
		&+.footer{margin-top: 20px;font-size: 18px;}
	}
	.footer{
		display: flex;justify-content: space-around;
		// button{width: 100%; background: transparent;outline: none; color: initial}
		button{flex: 1;margin: 0 5px;}
	}
}

.no-data{
  display: flex;flex-direction: column;justify-content: center;padding: 30px 0;color: #b2b2b2;text-align: center;
  &::before{
    content: '';
    display: inline-block;
    width: 80px;height: 80px;margin: 0 auto;background: url(../../src/asset/images/nodata.png) no-repeat center;
  }
  &::after{
    content: '暂无数据';margin-top: 15px;font-size: 16px;
  }
}