<template>
  <div class="section">

    <div class="header">
      <swiper class="swiper-img" indicator-dots="true">
        <block v-if="imgArr.length">
          <swiper-item v-for="(v, i) in imgArr" :key="i">
            <image :src="v.content" class="slide-image" />
          </swiper-item>
        </block>
      </swiper>
    </div>

    <div class="grid">
      <div class="item">
        <navigator url="/pages/wallet/main" class="content">
          <img :src="imgs.img1" />
          钱包
        </navigator>
      </div>
      <div class="item">
        <navigator url="/pages/leaseRecord/main" class="content">
          <img :src="imgs.img2" />
          使用记录
        </navigator>
      </div>
      <div class="item">
        <div class="content weui-cell_access" tabindex="-1" @click="navigator('tool')">
          <img :src="imgs.img3" />
          故障反馈
        </div>
      </div>
      <div class="item">
        <navigator url="/pages/course/main" class="content">
          <img :src="imgs.img4" />
          使用教程
        </navigator>
      </div>
    </div>

    <form report-submit @submit="formSubmit" class="form">
      <div class="user-time" v-if="time.length">已使用: <span>{{time[0]}}</span>时<span>{{time[1]}}</span>分<span>{{time[2]}}</span>秒</div>

      <button formType="submit" class="scan-btn" :class="{active: qrNo}" @click="qrNo ? finishOrder() : getCamer()">
        <img :src="scanImg">
        <span>{{qrNo ? '使用中' : '扫码用床'}}</span>
      </button>
    </form>


  </div>
</template>

<script>
import Scan from '../../asset/images/scan_white.png'

import wImg from '../../asset/images/wallet_b_32.png'
import rImg from '../../asset/images/record_32.png'
import qImg from '../../asset/images/question_32_2.png'
import cImg from '../../asset/images/course_32.png'

let UserTime, timer

export default {
  data () {
    return {
      imgs: {img1: wImg, img2: rImg, img3: qImg, img4: cImg},
      canScan: true,
      scanImg: Scan,
      qrNo: '',
      imgArr: [],
      time: [],
      lockChange: false,
    }
  },
  watch: {
    lockChange: {
      handler(v){
        this.FunGetBg(v)
      },
      // immediate: true
    },
  },
  methods: {

    formSubmit(e){
      console.log('form', e)
    },

    toScan(){
      getApp().globalData.Times = 1
      wx.scanCode({
        onlyFromCamera: true,
        success: (res) => {
          console.log('扫码结果', res)
          let _url = res.result.split('dn=')
          if(_url.length > 1){
            this.navigator('unlock', _url[1])
          }else{
            wx.showToast({
              title: '二维码错误',
              icon: 'success', // "success", "loading", "none"
              duration: 1000,
              image: '../../static/images/error_64_2.png',
              mask: false
            })
          }
        }
      })
    },

    getCamer(){

      if(this.canScan){
        this.toScan()
      }else{
        wx.authorize({
          scope: 'scope.camera',
          success: (res)=>{
            this.canScan = true
              this.toScan()
          },
          fail: (error)=>{
            wx.showModal({
              title: '提示',
              content: '获取摄像头权限失败，请设置',
              showCancel: true,
              cancelText: '取消',
              cancelColor: '#000000',
              confirmText: '设置',
              confirmColor: '#3CC51F',
              success: (res) => {
                if(res.confirm) {
                  wx.navigateTo({
                    url: '../setting/main'
                  })
                }
              }
            })
          }
        })
      }
    },


    navigator(name, number){
      let _url = '', _t = true, _number = number ? number : '';
      switch(name){
        case 'person': _url = '../person/main'; break;
        case 'tool':
        console.log('tool', getApp().globalData.appOptions)
          let _orderInfo = this.qrNo != '' ? '?id=' + getApp().globalData.OrderId + '&no=' + getApp().globalData.OrderNo + '&code=' + this.qrNo : ''
          _url = '../workOrder/main' + _orderInfo;
          break;
        case 'unlock': _url = '/pages/unLock/main' + (number ? '?dn=' + number : ''); break;
        default: console.log('navigator')
      }

      _t && wx.navigateTo({url: _url})
    },

    getCameraAuthorize(){
      wx.getSetting({
        success: (res)=>{
          this.canScan = res.authSetting['scope.camera'] || false
        }
      })
    },

    changeStatus(id){
      this.$Https.get(`/index/Orders/editOrderLookStatus/?id=${id}`).then(r => {
        console.log('r', r)
      }).catch(e => {
        console.log('e', e)
      })
    },

    getUsingCondition(){
      let _uid = getApp().globalData.Uid
      this.$Https.get('/index/Orders/getNoFinishOrderByUid/?uid=' + _uid)
      .then(r=>{
        console.log('使用情况', r)
        this.lockChange = r.status

        UserTime && clearInterval(UserTime)

        if(r.status != 1){
          clearInterval(timer)
          timer = null
        }else{
          if(!timer){
            timer = setInterval(() => {
              this.getUsingCondition()
            }, 6000)
          }
        }


        if(r.status == 2){
          let { info } = r
          let cont = `已使用${info.use_time}, 费用${info.money}元`
          wx.showModal({
            title: '使用情况',
            content: cont,
            showCancel: false,
          })

          this.changeStatus(info.id)
        }

        if(r.status == 1){
          let info =  r.info
          // this.isUsing = r.status
          getApp().globalData.OrderId = info.id;
          getApp().globalData.OrderNo = info.order_no
          getApp().globalData.Eid = info.eid
          this.qrNo = info.qr_no

          let _t = r.use_time.split(',')
          let _h = _t[0]
          let _m = _t[1] < 10 ? '0' + _t[1] : _t[1]
          let _s = _t[2] < 10 ? '0' + _t[2] : _t[2]

          UserTime = setInterval(()=>{
            if(_m < 60){
              if(_s < 59){
                _s = Number(_s) + 1
                if(_s < 10){
                  _s = '0' + _s
                }
              }else{
                _m = Number(_m) + 1
                if(_m < 10){
                  _m = '0' + _m
                }
                _s = '00'
              }
            }else{
              _h = Number(_h) + 1
              if(_h < 10){
                _h = '0' + _h
              }
              _m = '00'
            }
            this.time = [_h, _m, _s]
          }, 1000)
        }else{
          this.time = []
          this.qrNo = ''
        }
      }).catch(e=>{
        // console.log('e', e)
      })
    },

    finishOrder(){
      wx.showModal({
        title: '提示',
        // content: '请确保床柜已锁上，是否关闭订单?',
        // content: '如需结束订单，请将设备推入柜子',
        content: '订单正在进行中，如需开锁，请返回微信重新扫码！',
        showCancel: false,
        cancelText: '取消',
        cancelColor: '#000000',
        confirmText: '确定',
        confirmColor: '#3CC51F',
        success: res => {
          // if(res.confirm){
          //   this.FunOrderFinish()
          // }
        }
      })
    },

    FunOrderFinish(){
      this.$Https.get('/index/Orders/finishOrder/id/' + getApp().globalData.OrderId)
      .then(r=>{
        if(r.status){
          wx.showToast({
            title: r.msg,
            icon: 'success', // "success", "loading", "none"
            duration: 1500,
            mask: false,
            success: (res) => {
              this.qrNo = ''
            }
          })
        }
      }).catch(e=>{

      })
    },

    FunGetBg(id){
      this.$Https.post('/ad/Index/get_ad_index', {type_id: id}).then(r=>{
        console.log('r', r)
        this.imgArr = r.data
      }).catch(e=>{
        console.log('e', e)
      })
    }
  },

  onShareAppMessage(){
      return {
        title: '高斯美共享陪护床',
        path: '/pages/index/main'
      }
  },
  created(opt){
    this.getCameraAuthorize()
    this.FunGetBg(0)
  },
  onShow(opt){
    // console.log('index___onShow', opt)
    if(getApp().globalData.SessionId){
      this.getUsingCondition()
    }
  },
  onHide(){
    UserTime && clearInterval(UserTime)
    if(timer){
      clearInterval(timer)
      timer = null
    }
  },
}
</script>

<style scoped lang="less">
.section{position: relative;background-color: #efefef;align-items: center;}

.tips{
  display: flex;width: 100%;padding: 5px;background-color: #00cdcd;font-size: 14px;
  img{display:inline-block;width: 25px;height: 25px; margin: 0 10px;}
  .content{flex: 1;}
}

.header{width: 100%; color: #fff;font-size: 14px;}

.swiper-img{
  width: 100%; height: 150px;
  image{width: 100%;height: 100%}
}

.grid{
  margin-top: 20px;
  display: flex;
  width: 90%;flex-wrap:wrap;
  .item{
    flex:1;
    flex-basis:50%;
    text-align:center;
    color: #383838;
    .content{
      height: 72px;
      padding: 10px;
      margin: 8px;
      background-color:#fff;
      border-radius:8px;
      box-sizing: border-box;
      box-shadow: 0 0 7px 1rpx rgba(0,0,0,0.1);
    }
    img{display: block; width: 20px;height: 20px;margin: 5px auto;}
  }
}

.img-img{position: absolute;top: 0;left: 0;bottom: 150px;width: 100%;padding: 20px 0;display: flex;flex-direction: column;
  .bg-header{height: 60px;}
  img{width: 100%;}
  .bg-img:first-child{margin-top: 5px;}
  .bg-img{flex: 1}
}

.form{
  position: relative;
  flex: 1;width: 100%;
  display: flex;flex-direction:column;
  align: center;justify-content: center;
}
.user-time{
  position: absolute;width: 100%;text-align: center;bottom: 120px;
  color: #1AAD19;

  span{margin: 0 2px;font-size: 25px;}
}
.view{flex: 1}
.scan-btn{
  display:flex;
  flex-direction:column;
  align-content:center;
  justify-content:center;

  width: 100px; height: 100px; /*line-height: 147px;*/box-shadow: 0px 2px 6px 3px rgba(0, 0, 0, 0.1);
  background: radial-gradient(circle, #238F9F, #52A7B7);
   // url(../../asset/images/scan_white.png) no-repeat center
  // background-size: 33px;
  // background-position-y: 20px;
  border-radius: 50%;
  font-size: 14px;color: #fff; text-align: center;box-sizing: border-box;transition: all .1s linear;
  &:after{border: none;}
  &.active{background-color: #aee0e0;bottom: -20px;height:50px;border-radius:25px;background-image: none;line-height:50px;font-size:18px;}
  &:active{box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);transform:translateY(1px);}
  img{
    width:33px;
    height:33px;
    margin:6px auto 2px;
  }

  &.active img{display: none;}
}
.using-help{position:absolute;bottom:20px;text-align: center;color: #00758E;font-size: 13px;}
.index-btn{position: absolute;width: 40px;height: 40px;bottom: 30px;background-repeat: no-repeat; background-position: center; background-size: 36px;
  &.person{
    right: 20px;
    background-image: url(../../asset/images/person_48.png);
  }
  &.tool{
    left: 20px;
    background-image: url(../../asset/images/tool_48.png);
  }
}
</style>
