<template>
  <div class="section">
    <!-- <div class="header">提示：请将陪护床推入柜子</div> -->

    <!-- <img class="bg-img" :src="bgImg" alt=""> -->
    <!-- <div class="bg-img" :style="{backgroundImage:'url(' + bgImg + ')', backgroundRepeat:'no-repeat', backgroundPosition:'center top', backgroundSize: 'contain'}"></div> -->

    <div class="img-img">
      <img :src="bgHead" class="bg-header">
      <img :src="bgDevices" class="bg-img" v-if="typeId == 0 && !imgArr.length">
      <img v-for="(v, i) in imgArr" :key="i" class="bg-img" :src="v.content" alt="">
    </div>

    <form report-submit @submit="formSubmit" class="form">
      <div class="user-time" v-if="time.length">已使用: <span>{{time[0]}}</span>时<span>{{time[1]}}</span>分<span>{{time[2]}}</span>秒</div>
      <button formType="submit" class="scan-btn" :class="{active: qrNo}" @click="qrNo ? finishOrder() : getCamer()">{{qrNo ? '使用中' : '扫码用床'}}</button>
    </form>
    <!-- <div class="scan-btn" :class="{active: qrNo}" @click="qrNo ? finishOrder() : getCamer()">{{qrNo ? '使用中' : '扫码用床'}}</div> -->
    <!-- <div class="using-help" v-if="qrNo">关闭订单</div> -->


    <!-- <button v-if="!isUsing" class="scan-btn" type="primary" @click="getCamer">扫  码</button> -->
    <!-- <button class="scan-btn" type="primary" @click="finishOrder">使用中</button> -->

    <span class="index-btn tool" @click="navigator('tool')"></span>
    <span class="index-btn person" @click="navigator('person')"></span>

    <!-- <audio :src="mp" id="myAudio" controls></audio>
    <video id="myVideo" src="https://bdcdnct.inter.71edge.com/videos/v0/20180907/e8/e9/f205660280ba749118ce1ef6a34f7546.f4v?key=003236803f6604678e33e510ddc5105b9&dis_k=6febd1c8478628b6a023c984c637e076&dis_t=1541573805&dis_dz=CT-HuBei_WuHan&dis_st=42&src=iqiyi.com&uuid=3db741d2-5be28cad-fe&rn=1541573825887&qd_vipdyn=0&qd_k=ecf76abf58e66f843dcc276ce3c85c2f&pri_idc=baiducdn_ct&cross-domain=1&pv=0.1&qyid=a13cf1abb5e754394e11050110c2bd88&qd_aid=532785500&qd_tvid=532785500&qypid=532785500_02020031010000000000&qd_p=3db741d2&qd_tm=1541573795595&qd_vip=0&qd_index=1&qd_src=01010031010000000000&qd_stert=0&qd_vipres=0&qd_uid=" danmu-btn controls></video>
    <button type="primary" @click="audioPlay()">播放</button>
    <button type="primary" @click="audioPause()">暂停</button> -->

  </div>
</template>

<script>
// import BgImg from '../../asset/images/index_bg.png'
import BgImg from '../../asset/images/index_bg.gif'
// import BgImg from '../../asset/images/es_index.gif'
import mp from '../../asset/audio/cc.mp3'

import bgHead from '../../asset/images/index_header.png'

import bgDevices from '../../asset/images/index_devices.gif'
// import bgBed from '../../asset/images/index_bed.gif'
// import bgChair from '../../asset/images/index_chair.gif'

// bgDevices,
// bgBed,
// bgChair,

let InnerAudioContext
let UserTime

export default {
  data () {
    return {
      bgHead,
      bgDevices,
      canScan: true,
      qrNo: '',
      mp,
      audioCtx: null,

      typeId: 0,
      imgArr: [],

      time: ''
      // isUsing: false,
    }
  },
  methods: {

    formSubmit(e){
      console.log('form', e)
    },

    audioPlay(){
      // this.audioCtx.play()
      console.log('InnerAudioContext', InnerAudioContext)
      if(!InnerAudioContext) {
        this.audioCtx = wx.createAudioContext('myAudio')
        InnerAudioContext = wx.createInnerAudioContext()
        InnerAudioContext.autoplay = true
        InnerAudioContext.src = 'http://ws.stream.qqmusic.qq.com/M500001VfvsJ21xFqb.mp3?guid=ffffffff82def4af4b12b3cd9337d5e7&uin=346897220&vkey=6292F51E1E384E061FF02C31F716658E5C81F5594D561F2E88B854E81CAAB7806D5E4F103E55D33C16F3FAC506D1AB172DE8600B37E43FAD&fromtag=46'
      }
      InnerAudioContext.stop()
      InnerAudioContext.play()

    },


    audioPause(){
      if(!InnerAudioContext) return
      InnerAudioContext.stop()
    },

    toScan(){
      getApp().globalData.Times = 1
      wx.scanCode({
        onlyFromCamera: true,
        success: (res) => {
          console.log('扫码结果', res)
          let _url = res.result.split('dn=')
          if(_url.length > 1){
            this.navigator('unlock', _url[1])
          }else{
            wx.showToast({
              title: '二维码错误',
              icon: 'success', // "success", "loading", "none"
              duration: 1000,
              image: '../../static/images/error_64_2.png',
              mask: false,
              success: (res) => {

              },
              fail: (res) => {

              },
              complete: (res) => {

              }
            })
          }
        }
      })
    },

    getCamer(){
      if(this.canScan){
        this.toScan()
      }else{
        wx.authorize({
          scope: 'scope.camera',
          success: (res)=>{
            this.canScan = true
              this.toScan()
          },
          fail: (error)=>{
            wx.showModal({
              title: '提示',
              content: '获取摄像头权限失败，请设置',
              showCancel: true,
              cancelText: '取消',
              cancelColor: '#000000',
              confirmText: '设置',
              confirmColor: '#3CC51F',
              success: (res) => {
                if(res.confirm) {
                  wx.navigateTo({
                    url: '../setting/main'
                  })

                  // wx.openSetting()
                }
              }
            })
          }
        })
      }
    },


    navigator(name, number){
      let _url = '', _t = true, _number = number ? number : '';
      switch(name){
        case 'person': _url = '../person/main'; break;
        case 'tool':
        console.log('tool', getApp().globalData.appOptions)
          let _orderInfo = this.qrNo != '' ? '?id=' + getApp().globalData.OrderId + '&no=' + getApp().globalData.OrderNo + '&code=' + this.qrNo : ''
          _url = '../workOrder/main' + _orderInfo;
          break;
        case 'unlock': _url = '/pages/unLock/main' + (number ? '?dn=' + number : ''); break;
        default: console.log('navigator')
      }

      _t && wx.navigateTo({url: _url})
    },

    getCameraAuthorize(){
      wx.getSetting({
        success: (res)=>{
          this.canScan = res.authSetting['scope.camera'] || false
        }
      })
    },

    getUsingCondition(){
      let _uid = getApp().globalData.Uid
      this.$Https.get('/index/Orders/getNoFinishOrderByUid/?uid=' + _uid)
      .then(r=>{
        console.log('使用情况', r)
        if(r.status == 1){
          let info =  r.info
          // this.isUsing = r.status
          getApp().globalData.OrderId = info.id;
          getApp().globalData.OrderNo = info.order_no
          getApp().globalData.Eid = info.eid
          this.qrNo = info.qr_no

          if(this.typeId != info.type_id){
            this.typeId = info.type_id
            this.FunGetBg(info.type_id)
          }


          let _t = r.use_time.split(',')

          let _h = _t[0]
          let _m = _t[1] < 10 ? '0' + _t[1] : _t[1]
          let _s = _t[2] < 10 ? '0' + _t[2] : _t[2]

          UserTime = setInterval(()=>{
            if(_m < 60){
              if(_s < 59){
                _s = Number(_s) + 1
                if(_s < 10){
                  _s = '0' + _s
                }
              }else{
                _m = Number(_m) + 1
                if(_m < 10){
                  _m = '0' + _m
                }
                _s = '00'
              }
            }else{
              _h = Number(_h) + 1
              if(_h < 10){
                _h = '0' + _h
              }
              _m = '00'
            }
            this.time = [_h, _m, _s]
          }, 1000)

        }else{
          this.time = []
          // this.isUsing = 0
          if(this.typeId == 0){
            this.qrNo = ''
          }else{
            this.typeId = 0
            this.qrNo = ''
            this.FunGetBg(0)
          }

        }
        // this.time = new Date()
      }).catch(e=>{
        // console.log('e', e)
      })
    },

    finishOrder(){
      wx.showModal({
        title: '提示',
        // content: '请确保床柜已锁上，是否关闭订单?',
        // content: '如需结束订单，请将设备推入柜子',
        content: '订单正在进行中，如需开锁，请返回微信重新扫码！',
        showCancel: false,
        cancelText: '取消',
        cancelColor: '#000000',
        confirmText: '确定',
        confirmColor: '#3CC51F',
        success: res => {
          // if(res.confirm){
          //   this.FunOrderFinish()
          // }
        }
      })
    },

    FunOrderFinish(){
      this.$Https.get('/index/Orders/finishOrder/id/' + getApp().globalData.OrderId)
      .then(r=>{
        if(r.status){
          wx.showToast({
            title: r.msg,
            icon: 'success', // "success", "loading", "none"
            duration: 1500,
            mask: false,
            success: (res) => {
              this.qrNo = ''
            },
            fail: (res) => {

            },
            complete: (res) => {

            }
          })
        }
      }).catch(e=>{

      })
    },


    FunGetBg(id){
      this.$Https.post('/ad/Index/get_ad_index', {type_id: id ? id : this.typeId}).then(r=>{
        console.log('r', r)
        this.imgArr = r.data
      }).catch(e=>{
        console.log('e', e)
      })
    }
  },

  onShareAppMessage(){
      return {
        title: '高斯美共享陪护床',
        path: '/pages/index/main'
      }
  },
  created(opt){
    this.getCameraAuthorize()

  },
  onShow(opt){
    // console.log('index___onShow', opt)
    if(getApp().globalData.SessionId){
      this.getUsingCondition()
    }

  },
  // onUnload(){
  //   console.log('index___onUnload', this)
  // },
  onHide(){
    if(InnerAudioContext) InnerAudioContext.stop()
    UserTime && clearInterval(UserTime)
    console.log('index___onHide', this)
  },
}
</script>

<style scoped lang="less">
.section{position: relative;background-color: #fff;align-items: center;}
.header{padding: 4px 10px;background-color: #00cdcd;color: #fff;font-size: 14px;}
.img-img{position: absolute;top: 0;left: 0;bottom: 150px;width: 100%;padding: 20px 0;display: flex;flex-direction: column;
  .bg-header{height: 60px;}
  img{width: 100%;}
  .bg-img:first-child{margin-top: 5px;}
  .bg-img{flex: 1}
}

.form{position: absolute;bottom: 0;}
.user-time{color: #1AAD19; transform:translateY(-30px);
  span{margin: 0 2px;font-size: 25px;}
}
.view{flex: 1}
// background-color: #409EFF;
.scan-btn{/*position: absolute;*/bottom: 20px; width: 120px; height: 120px; line-height: 170px; left: 50%; background: #00cdcd url(../../asset/images/scan_white.png) no-repeat center; background-size:30%;background-position-y: 25px;
 margin-left: -60px;border-radius: 50%;font-size: 16px;color: #fff; text-align: center;box-sizing: border-box;
  &.active{background-color: #aee0e0;bottom:25px;height:50px;border-radius:25px;background-image: none;line-height:50px;font-size:18px;}
}
.using-help{position:absolute;bottom:20px;text-align: center;color: #00cdcd;font-size: 13px;}
.index-btn{position: absolute;width: 40px;height: 40px;bottom: 30px;background-repeat: no-repeat; background-position: center; background-size: 100%;
  &.person{
    right: 20px;
    background-image: url(../../asset/images/person_48.png);
  }
  &.tool{
    /* width: 32px;height: 32px; */
    left: 20px;
    background-image: url(../../asset/images/tool_48.png);
  }
}
</style>
