<template>
  <div class="section">
   	<div class="header">
      提示: 当前信誉分为 <span style="font-weight: bold">{{credits.credit}}</span>, 低于免押金分值 <span style="font-weight: bold">{{credits.min_credit}}</span>, 如要使用, 需缴纳押金!
      <navigator class="img" :url="'/pages/depositIntro/main?num=' + credits.credit"><img :src="img"></navigator>
    </div>
    <div class="main">
      <div class="money">交纳押金 {{credits.money}}</div>
      <div class="btn"><button type="primary" @click="btn">充&nbsp;&nbsp;值</button></div>
    </div>

  </div>
</template>

<script>
const qImg = require('../../asset/images/question_16_2.png')
import Pay from '../../utils/wxpay.js'
export default {
  components: {},
  data () {
    return {
      img: qImg,
      credits: {}
    }
  },
  methods: {
    btn(){
      let _opt = {
        type: 'YJ',
        label: '押金',
        money: this.credits.money,
        CallBack: ()=>{
          getApp().globalData.UserData.deposit = this.credits.money
        }
      }
      Pay(_opt)
    }
  },
  onLoad(opt){
    console.log('deposit__onLoad', opt)
    if(opt.credit){
      this.credits = JSON.parse(opt.credit)
    }
  }
}
</script>

<style scoped lang="less">
  .header{position: relative;margin: 20px;padding: 10px 15px;color: #a94442;background-color: #f2dede;border-color: #ebccd1;font-size: 16px;
    .img{position: absolute;bottom: 0;right: 0;padding: 5px;width: 16px;height: 16px;img{width: 100%;height: 100%}}
  }
  .main{margin-top: 30px;}
  .money{padding-left: 20px;font-size: 22px;}
  .btn{margin-top: 150px;text-align: center}
  button{width: 90%;}
</style>
