<template>
  <div class="section">
  	<div class="header">
      <div class="scan-input" :class="{disabled: orderNo != ''}" @click="orderNo != '' && scanInputClick()">
        <input type="number" v-model="deviceVal" name="" placeholder="请扫码或输入床柜编号">
        <div class="scan-img" @click="toScaner()"></div>
      </div>
		<radio-group class="radio-group" @change="radioChange">
      <div class="radio" v-for="v in dataArr" :key="v.id">
        <label>
          <radio color="#00758E" :value="v.id"/>{{v.reason}}
        </label>
      </div>
    </radio-group>
  	</div>
  	<div class="main">
  		<div class="images">
  			<div class="weui-uploader__input-box" v-show="imgs.length < 3">
          <div class="weui-uploader__input" @tap="chooseImage"></div>
        </div>
  	    <div class="images-help" v-if="!imgArr.length">
  				<div>拍摄床柜或床的照片</div>
  				<div>将有效提高反馈效率</div>
  			</div>
  			<div class="weui-uploader__file" v-for="(v, i) in imgArr" :key="i" @tap="previewImage(v)">
  				<span class="img-remove" @click.stop="imgRemove(i)">&times;</span>
  			  <image class="weui-uploader__img" :src="v" mode="aspectFill" />
  			</div>
		  </div>
		  <textarea class="input-mark" placeholder="备注" v-model="markVal" />
		  <div class="input-mark-help">{{markVal.length}}/140个字</div>
  	</div>
  	<div class="footer">
  		<button type="primary" @click="btnClick" :loading="isLoading" :disabled="isLoading">提交</button>
  	</div>
  </div>
</template>

<script>
const BASIC_URL = 'https://www.gsmgx.com'
// const BASIC_URL = 'https://dev.wx.03in.net:8086'

export default {
  components: {},
  data () {
    return {
    	deviceVal: '',
      canScan: false,
      dataArr: [],
    	radioVal: '',
    	imgArr: [],
      imgs: [],
    	markVal: '',
    	isLoading: false,
      orderId: '',
      orderNo: ''
    }
  },
  methods: {
  	dataInit(){
  		this.radioVal = ''
  		this.imgArr = []
  		this.markVal = ''
  		this.isLoading = false
  	},
    scanInputClick(){
      wx.showModal({
        title: '提示',
        content: '当前反馈已关联订单，不可手动或扫码输入床柜编号',
        showCancel: false,
        confirmText: '确定',
        confirmColor: '#3CC51F',
        success: (res) => {
        }
      })
    },

    FunGetArr(){
      this.$Https.get('/index/Accmoney/useWorkReasonList')
      .then(r=>{
        console.log('r', r)
        this.dataArr = r
      }).catch(e=>{
        console.log('e', e)
      })
    },

    toScaner(){
      if(this.canScan){
        this.toScan()
      }else{
        wx.authorize({
          scope: 'scope.camera',
          success: (res)=>{
            this.canScan = true
            this.toScan()
          },
          fail: (error)=>{
            wx.showModal({
              title: '提示',
              content: '获取摄像头权限失败，请设置',
              showCancel: true,
              cancelText: '取消',
              cancelColor: '#000000',
              confirmText: '设置',
              confirmColor: '#3CC51F',
              success: (res) => {
                if(res.confirm) {
                  wx.navigateTo({
                    url: '/pages/setting/main'
                  })
                }
              },
              fail: (res) => {

              },
              complete: (res) => {

              }
            })
          }
        })
      }
    },

    toScan(){
      wx.scanCode({
        success: r => {
          console.log('反馈扫描结果', r)
          if(r.scanType == 'QR_CODE' && r.errMsg == 'scanCode:ok'){
            let _dn = r.result.split('dn=')
            if(_dn.length > 1){
              this.deviceVal = _dn[1]
            }else{
              wx.showToast({
                title: '二维码错误',
                icon: 'success', // "success", "loading", "none"
                duration: 1500,
                image: '../../static/images/error_64_2.png',
                mask: false,
              })
            }
          }
        }
      })
    },

    getCameraAuthorize(){
      wx.getSetting({
        success: (res)=>{
          // console.log('res', res)
          this.canScan = res.authSetting['scope.camera'] || false
        }
      })
    },

  	radioChange(e){
  		this.radioVal = e.mp.detail.value
  	},
  	chooseImage: function (e) {
        var that = this;
        wx.chooseImage({
            sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
            // sourceType: ['camera'], // 可以指定来源是相册还是相机，默认二者都有
            success: (res) => {
                // 返回选定照片的本地文件路径列表，tempFilePath可以作为img标签的src属性显示图片
                // that.setData({
                //     files: that.data.files.concat(res.tempFilePaths)
                // });
                // this.imgArr = this.imgArr.concat(res.tempFilePaths)
                if(this.imgArr.length + res.tempFilePaths.length > 3){
                	wx.showToast({
                		title: '最多选择3张',
                		icon: 'none'
                	})
                }else{
                	// this.imgArr = this.imgArr.slice(0, 3)
                	this.imgArr = this.imgArr.concat(res.tempFilePaths)
                  this.uploadFiles(res.tempFilePaths)
                }

            }
        })
    },
    previewImage(url){
        wx.previewImage({
            // current: e.currentTarget.id, // 当前显示图片的http链接
            current: url, // 当前显示图片的http链接
            urls: this.imgArr // 需要预览的图片http链接列表
        })
    },
    imgRemove(i){
    	this.imgArr.splice(i, 1)
    },
    btnClick(){
    	if(!this.deviceVal){
    		wx.showToast({
    			title: '请输入床柜编号',
    			icon: 'none'
    		})
    	}else if(!this.markVal.trim().length){
    		wx.showToast({
          // title: '请选择故障类型',
    			title: '请填写备注',
    			icon: 'none'
    		})
    	}else{
    		this.submit()
    	}
    },

    uploadFiles(arr){
      for(let i = 0; i< arr.length; i ++){
        this.FunUploadFile(arr[i])
      }
    },

    FunUploadFile(path){
      wx.uploadFile({
        url: `${BASIC_URL}/index/Accmoney/upload_img`,
        filePath: path,
        header: {
          'content-type': 'multipart/form-data'
        },
        name: 'file',
        success: res=>{
          console.log('res', res)
          let data = JSON.parse(res.data)
          if(data.status){
            // this.submitTwo(data.data)
            if(this.imgs.length < 3){
              this.imgs.push(data.data)
            }else{
              this.imgs.splice(this.imgs.length - 1, 1, data.data)
            }
          }
        }
      })
    },

    submit(){
    	this.isLoading = true
      console.log('OrderWorkerAdd', this.orderNo, this.orderId)
  		this.$Https.post('/index/Accmoney/OrderWorkerAdd', {
        uid: getApp().globalData.Uid,
        eid: getApp().globalData.Eid || 0,
  			order_no: this.orderNo,
  			order_id: this.orderId,
        code: this.deviceVal.trim(),
        reason_id: this.radioVal,
        img: this.imgs,
  			mark: this.markVal,
  		}, {isLoading: true}).then(r=>{
  			console.log('r', r)
  			this.isLoading = false
          wx.showToast({
            title: r.msg,
            icon: 'success', // "success", "loading", "none"
            image: r.status ? '' : '../../../static/images/error_64.png',
            duration: 1500,
            mask: false,
            success: (res) => {
              r.status && setTimeout(()=>{
                wx.navigateBack()
              }, 1500)
            }
          })
  		}).catch(e=>{
  			console.log('e', e)
  			this.isLoading = false
  		})
    }
  },
  created(){
    this.getCameraAuthorize()
  },
  onLoad(opt){
    console.log('opt', opt)
    this.orderId = !!opt.id ? opt.id : ''
    this.orderNo = !!opt.no ? opt.no : ''
    this.deviceVal = !!opt.code ? opt.code : ''
    this.FunGetArr()
  	this.dataInit()
  },
}
</script>

<style scoped lang="less">
	.section{height: initial;min-height: 100%;background: #fff;}
	.header{
		padding: 20px;
    .span-input{position: relative;}
		input{height: 40px;line-height: 40px;padding: 5px 20px;background-color: #eee;border: 1px solid #ddd;border-radius: 20px;font-size: 18px;box-sizing: border-box;}
    .scan-img{position: absolute;top: 20px;right: 22px;width: 40px;height: 40px;background: url(../../asset/images/scan.png) no-repeat center;background-size: 70%; z-index: 2}
    .disabled input,.disabled .scan-img{pointer-events: none}
	}
	.radio-group{margin-top: 15px;display: flex;flex-wrap: wrap;
		.radio{flex-basis: 33.33%;margin-bottom: 5px;}
	}
	.main{padding: 10px 18px}
	.images{position: relative;
		&:after{
			content: '';display: table;clear: both;
		}
	}
	.images-help{display: flex;flex-direction: column;justify-content: flex-end;height: 75px;margin-left: 100px;font-size: 14px;color: #888;
	}
	.weui-uploader__input-box{border-style: dashed;}
	.weui-uploader__file{position: relative;}
	.img-remove{position: absolute;top: -8px;right: -8px;width: 23px;height: 23px;background-color: #fff;
		border: 1px solid #F76260;border-radius: 50%;line-height: 20px;text-align: center;color: #F76260;box-sizing: border-box;
	/* background: url(../../../static/images/remove_16.png) no-repeat center */
	}
	.input-mark{height: 160px;width: 100%;padding: 10px;margin-top: 40px;background-color: #eee;border: 1px solid #ddd;border-radius: 5px;line-height: 1;font-size: 16px;color: #353535;box-sizing: border-box;}
	.input-mark-help{margin-top: 5px;text-align: right;font-size: 13px;color: #888}
	// .weui-uploader__img, .weui-uploader__input-box{width: 75px;height: 75px;box-sizing: border-box;}
	.footer{padding: 40px 0;
		button{width: 90%}
	}
</style>
