<template>
  <div class="section">
  	<div class="header">
  		<div class="title">我的信用分
        <div class="labels">
          {{credit}}<span class="label" :class="stage ? 'great' : 'bad'"></span>
        </div>
  	  </div>
      <div class="to-list">
        <navigator url="/pages/depositRecord/main">信用分明细 <img :src="images.img1"></navigator>
      </div>
    </div>
    <div class="main">
      <div class="title">信用分规则</div>
      <p>正常完成一单订单加 {{everyNum}} 分</p>
      <p>逾期订单扣 {{minusNum}} 分</p>
      <p>低于 {{minNum}} 分要交 {{ money }} 元押金</p>
    </div>
  </div>
</template>

<script>
const aImg = require('../../asset/images/arrow-right_32.png')
export default {
  components: {},
  data () {
    return {
    	images: {
    		img1: aImg
    	},
    	credit: 0,
      everyNum: '',
      minusNum: '',
      minNum: '',
      money: ''
    }
  },
  computed: {
    stage(){
    	return this.credit > getApp().globalData.UserData.credit.min_credit ? 1 : 0
    }
  },
  methods: {
    FunFetRules(){
      this.$Https.get('/index/Accmoney/get_credit_info')
      .then(r=>{
        this.everyNum = r.inc_score
        this.minusNum = r.dec_score
        this.minNum = r.score
        this.money = r.money
      }).catch(e=>{

      })
    }
  },
  onLoad(opt){
  	console.log('depositIntro__onLoad', opt)
  	this.credit = opt.num != 'undefined' ? opt.num : 0
    this.FunFetRules()
  }
}
</script>
<style scoped lang="less">
	.section{background-color: #fff;}
	.header{padding: 20px 20px 20px 20px}
	.title{font-size: 24px;.labels{float: right;font-size: 26px;}}
  .label{
    margin-left: 5px;font-size: 14px;color: #fff;padding: 2px 8px;border-radius: 10px;vertical-align: middle;
    &.bad{background-color: #F76260;&:after{content: '糟糕'}}
    &.great{background-color: #09BB07;&:after{content: '良好'}}
  }
  .to-list{
    margin-top: 10px;text-align: right;font-size: 14px;
    navigator{display: inline-block;}
    img{width: 15px;height: 15px;vertical-align: -2px;}
  }
  .main{margin-top: 30px;padding: 20px;p{padding: 0 20px}.title{font-size: 20px;margin-bottom: 10px;}}
</style>
