<template>
  <div class="section">
    <div class="header">
        <open-data class="vendor-img" type="userAvatarUrl"></open-data>
        <open-data class="vendor-name" type="userNickName"></open-data>
        <div class="phone" v-if="phoneNum != 0">{{phoneNum}}</div>
        <button class="phone-btn" v-else open-type="getPhoneNumber" @getphonenumber="getPhonenumber" size="mini">绑定手机号</button>

        <!-- <navigator class="deposit" :url="'/pages/depositIntro/main?num='+deposit">信用分: {{deposit}} <img :src="images.img7"></navigator> -->
    </div>
    <div class="main">
      <div class="weui-cells">
        <navigator class="weui-cell" :url="'/pages/wallet/main?de=' + isDeposit">
          <div class="weui-cell__hd">
            <img class="img" :src="images.img2">
          </div>
          <div class="weui-cell__bd">我的钱包</div>
          <div class="weui-cell__ft">
            <!-- <span>{{depositLabel}}</span> -->
            <img class="img" :src="images.img1">
          </div>
        </navigator>
        <navigator class="weui-cell" url="/pages/leaseRecord/main">
          <div class="weui-cell__hd">
            <img class="img" :src="images.img3">
          </div>
          <div class="weui-cell__bd">我的订单</div>
          <div class="weui-cell__ft">
            <img class="img" :src="images.img1">
          </div>
        </navigator>
        <navigator class="weui-cell" url="/pages/setting/main">
          <div class="weui-cell__hd">
            <img class="img" :src="images.img4">
          </div>
          <div class="weui-cell__bd">设置</div>
          <div class="weui-cell__ft">
            <img class="img" :src="images.img1">
          </div>
        </navigator>
        <navigator class="weui-cell" url="/pages/course/main">
          <div class="weui-cell__hd">
            <img class="img" :src="images.img5">
          </div>
          <div class="weui-cell__bd">使用教程</div>
          <div class="weui-cell__ft">
            <img class="img" :src="images.img1">
          </div>
        </navigator>
        <!-- <div class="weui-cell" @click="bluetooth">
          蓝牙测试
        </div> -->
      </div>
    </div>
  </div>
</template>

<script>
const aImg = require('../../asset/images/arrow-right_32.png')
const mImg = require('../../asset/images/wallet_b_32.png')
const rImg = require('../../asset/images/record_32.png')
const sImg = require('../../asset/images/setting_30.png')
const cImg = require('../../asset/images/course_32.png')

export default {
  components: {},
  data () {
    return {
      phoneNum: '',
      images: {
        img1: aImg,
        img2: mImg,
        img3: rImg,
        img4: sImg,
        img5: cImg,
      },
      deposit: 0,
      isDeposit: 0
    }
  },
  computed: {
    depositLabel(){
      let _p = this.isDeposit
      return _p == 0 ? '需缴纳押金' : _p < 0 ? '信誉分良好免押金' : '已缴纳押金'
    }
  },
  methods: {
    // bluetooth(){
    //   console.log('蓝牙')
    //   wx.openBluetoothAdapter({
    //     success: r=> {
    //       console.log('蓝牙__success', r)
    //     },
    //     fail: e=>{
    //       console.log('蓝牙__fail', e)
    //     }
    //   })
    // },
    getPhonenumber(res){
      console.log('res', res)
      if(res.mp.detail.errMsg == 'getPhoneNumber:ok'){
        this.$Https.post('/member/Index/bind_phone', {
          encryptedData: res.mp.detail.encryptedData,
          iv: res.mp.detail.iv
        }).then(r=>{
          getApp().globalData.UserData.phone = r.data
          let _phone = r.data.toString()
          this.phoneNum = _phone.substr(0,3) + '****' + _phone.substr(7,4)
        }).catch(e=>{
        })
      }
    }
  },
  onLoad(){
    console.log('person___onLoad')
    let _GDU = getApp().globalData.UserData
    let _phone = _GDU.phone.toString()
    let _d = _GDU.deposit, _diff = _GDU.credit.credit - _GDU.credit.min_credit
    this.phoneNum = _phone.substr(0,3) + '****' + _phone.substr(7,4)
    this.deposit = _GDU.credit.credit
    if(_diff > 0){
      this.isDeposit = -1
    } else if(_d > 0 ){
      this.isDeposit = _d
    }else {
      this.isDeposit = 0
    }
  },

}
</script>

<style lang="less" scoped>
.header{position: relative; /* display: flex; flex-direction: column; align-items: center; */padding: 25px 0;background: linear-gradient(#00758E, #52A7B7);color: #fff;text-align: center;
  .section{align-items: center}
}
.deposit{position:absolute;top:10px;right:10px;/* height: 20px;line-height: 20px;  */padding:1px 10px;border:1px solid #c5f7f7;color: #fff; border-radius:10px;font-size:12px;img{width: 10px;height: 10px;vertical-align:0;}}
.vendor-img{display: inline-block;width: 80px;height: 80px;border-radius: 50%; overflow: hidden;}
.vendor-name{display: block; height: 25px; line-height: 25px; margin-top: 10px; }
.phone, .phone-btn{height: 25px;line-height: 25px;}
.phone img{width: 20px;height: 20px;}
.weui-cells{margin-top: 0}
.weui-cell{padding-top: 11px;padding-bottom: 11px;}
.weui-cell__hd, .weui-cell__ft{
  img{display: inline-block;width: 25px; height: 25px;vertical-align: middle;}
}
.weui-cell__ft{font-size: 12px;color: #b2b2b2;span{vertical-align: middle;}}
button{margin-top: 10px;}
.weui-cell__hd{margin-right: 6px;}
</style>
