<template>
  <div @click="click">
		asdadada
  </div>
</template>

<script>

export default {
  components: {},
  data () {
    return {
    }
  },
  methods: {
  	click(){
  		// debugger
  		this.$parent.isEnough = 1
  	}
  }
}
</script>

<style>

</style>
