<template>
   <!-- class="section" :style="{height: dataArr.length ? 'initial' : '100%', 'justify-content': dataArr.length ? '' : 'center'}" -->
  <div class="section" :style="{height: dataArr.length ? 'initial' : '100%'}">
  	<ul class="A" v-if="dataArr.length">
  		<li class="a" v-for="(v, i) in  dataArr" :key="i">
  			<div>
  				<p class="way">{{v.order_no}}</p>
  				<p class="time">{{v.ctime}}</p>
  			</div>
  			<span :class="{plus : v.score > 0, minus: v.score < 0}">
  				{{v.score}}<span style="font-size: 14px;">分</span>
  			</span>
  		</li>
  	</ul>
    <div class="no-data" v-else></div>
  	<div class="weui-loadmore" v-if="isLoadMore">
        <i class="weui-loading"></i>
        <span class="weui-loadmore__tips">正在加载</span>
    </div>
  </div>
</template>

<script>

export default {
  components: {},
  data () {
    return {
    	dataArr: [],
    	page: 1,
    	isLoadMore: 0
    }
  },
  methods: {
  	dataInit(){
      this.page = 1
      this.dataArr = []
  	  this.isLoadMore = false
  	},
  	FunGetArr(p = 1){
  		p = this.page == 1 ? p : this.page
  		this.$Https.post('/index/Accmoney/member_credit_log', {
  			uid: getApp().globalData.Uid,
  			page: p
  		}, {isLoading: p == 1})
  		.then(r=>{
  			wx.stopPullDownRefresh()
  			this.dataArr = r.data
  			this.isLoadMore = r.last_page > r.current_page
  		}).catch(e=>{

  		})
  	}
  },
  onPullDownRefresh(){
    this.page = 1
    this.FunGetArr()
  },
  onReachBottom(){
    this.page++
    this.FunGetArr()
  },
  onUnload(){
  	this.dataInit()
  },
  onLoad(){
  	this.FunGetArr()
  }
}
</script>

<style scoped lang="less">
	.section{background: #fff;justify-content: center}
	.a{
		position: relative;display: flex;align-items: center;justify-content: space-between;padding: 10px 15px;
		&:not(:first-child):before{
			content: '';position: absolute;top: 0;left: 0;right: 0;border-top: 1px solid #e5e5e5;
		}
		div{flex: 1;}
		span{font-size: 26px;
			&.plus{color: #09BB07}
			&.minus{color: #E64340}
		}
	}
	.way{font-size: 20px;}
	.time{font-size: 14px;color: #888}
	.weui-loadmore{
		&.hidden{overflow: hidden;height: 0;margin: 0;transition: all .2s ease;}
	}
</style>
