<template>
   <!-- :style="{height: dataArr.length ? 'initial' : '100%', 'justify-content': dataArr.length ? '' : 'center'}" -->
  <div class="section" :style="{height: dataArr.length ? 'initial' : '100%'}">
    <div class="header">
      当前总余额: <span>{{money}}</span>元
    </div>
  	<ul class="A" v-if="dataArr.length">
  		<li class="a" v-for="(v, i) in  dataArr" :key="i" :data-idx="i" @click="itemClick(v, i)">
  			<div>
  				<p class="way">{{v.billing_start}}</p>
  				<!-- <p class="time">{{v}}</p> -->
  			</div>
  			<span>
  				{{v.money}}<span style="font-size: 14px;">元</span>
  			</span>
  		</li>
  	</ul>
    <div class="no-data" v-else></div>
  	<div class="weui-loadmore" v-if="isLoadMore">
        <i class="weui-loading"></i>
        <span class="weui-loadmore__tips">正在加载</span>
    </div>
  </div>
</template>

<script>
import NoDataImg from '../../asset/images/nodata.png'
export default {
  components: {},
  data () {
    return {
      money: 0,
      page: 1,
      perPage: 12,
    	dataArr: [],
      ndImg: NoDataImg,
    	isLoadMore: false,
    }
  },
  methods: {
  	dataInit(){
  		this.page = 1
      this.dataArr = []
      this.isLoadMore = false
  	},
  	itemClick(v, i){
  		wx.navigateTo({
  			url: '../leaseDetail/main?value='+JSON.stringify(v)
  		})
  	},
    FunGetMoney(){
      this.$Https.get('/index/Accounts/getAccountInfo/uid/'+getApp().globalData.Uid, {isLoading: true})
      .then(r=>{
        this.money = r.money
      }).catch(e=>{
        console.log('moneyError', e)
      })
    },
    FunDataList(p = 1){
      p = this.page == 1 ? p : this.page
      this.$Https.post('/index/Orders/getOrderList/page', {
        uid: getApp().globalData.Uid,
        page: p,
        pageSize: this.perPage,
        type: 2,
      }, {isLoading: p == 1}).then(r=>{
        wx.stopPullDownRefresh()
        console.log('r', r)
        this.dataArr = p == 1 ? r.data : this.dataArr.concat(r.data)
        this.isLoadMore = r.is_next == 1
      }).catch(e=>{
        console.log('e', e)
      })
    },
  },
  onPullDownRefresh(){
    this.page = 1
    this.FunDataList()
  },
  onReachBottom(){
    if(!this.isLoadMore) return
    this.page++
    this.FunDataList()
  },
  onUnload(){
    console.log('onUnload')
  	this.dataInit()
  },
  onLoad(){
    this.FunGetMoney()
  },
  mounted(){
    this.FunDataList()
  }

}
</script>

<style scoped lang="less">
	.section{background: #fff;justify-content: center;padding-top: 60px;box-sizing: border-box;}
  .header{position: fixed;top: 0;left: 0;width: 100%;height: 40px;line-height: 40px;padding: 10px;background-color: #fff; border-bottom: 1px solid #e5e5e5;text-align: center;z-index: 2;
    /*&:after{content: '';position: absolute;left: 0;bottom: 0;right: 0;height: 1px;transform: scaleY(0.5);background: #e5e5e5;}*/
    span{margin: 0 5px;font-size: 32px;color: #09BB07;}
  }
	.a{
		position: relative;display: flex;align-items: center;justify-content: space-between;padding: 10px 15px;
    &:active, &:focus{background: #ececec}
		&:not(:first-child):before{
			content: '';position: absolute;top: 0;left: 0;right: 0;border-top: 1px solid #e5e5e5;
		}
		div{flex: 1;}
		span{font-size: 26px;
			&.plus{color: #09BB07}
			&.minus{color: #E64340}
		}
	}

	.way{font-size: 16px;color: #888}
	.time{font-size: 14px;color: #888}
	.weui-loadmore{
		&.hidden{overflow: hidden;height: 0;margin: 0;transition: all .2s ease;}
	}
</style>
