<template>
    <button open-type="openSetting">权限设置</button>
</template>

<script>

export default {
  components: {},
  data () {
    return {
    }
  },
  methods: {
  },
}
</script>

<style scoped>
  button{flex: 1;}
</style>
