<template>
  <div class="dialog-mask">
      <div class="dialog-wrapper">
        <div class="header">
          授权手机号码
        </div>
        <div class="main">
          我们需要您的授权获得您在微信中绑定的手机号码
        </div>
        <div class="footer">
          <!-- <div class="btn" @click="navigator">取消</div> -->
          <button class="btn btn_phone" type="primary" open-type="getPhoneNumber" @getphonenumber="getPhonenumber">同意授权</button>
        </div>
      </div>
    </div>
</template>

<script>

export default {
  components: {},
  data () {
    return {
    	hasPhone: false
    }
  },
  methods: {
  	getPhonenumber(e){
      console.log(e)
      if(e.mp.detail.errMsg == 'getPhoneNumber:ok'){
        this.$Https.post('/member/Index/bind_phone', {
          encryptedData: e.mp.detail.encryptedData,
          iv: e.mp.detail.iv
        }).then(r=>{
          getApp().globalData.UserData.phone = r.data
          wx.reLaunch({
            url: '/pages/index/main'
          })
        }).catch(e=>{
          console.log('e', e)
        })
      }

    },
  }
}
</script>

<style scoped>
	.dialog-mask{background: rgba(0,0,0,0.1)}
	.dialog-wrapper{width: 70%;}
  .main{color: #555;}
</style>
