<template>
  <div class="section">
  	<div class="weui-cells weui-cells_after-title	">
			<div class="weui-cell weui-cell_btn">
				<Authorize />
			</div>
      <!-- <navigator class="weui-cell" url="/pages/course/main">
        <div class="weui-cell__bd">使用帮助</div>
        <div class="weui-cell__ft">
          <img class="img" :src="img">
        </div>
      </navigator> -->
		</div>
  </div>
</template>

<script>
import Authorize from './authorize/index'
const aImg = require('../../asset/images/arrow-right_32.png')
export default {
  components: { Authorize },
  data () {
    return {
      img: aImg
    }
  },
  methods: {
    navigator(){
      wx.navigateTo({
        url: '/pages/course/main'
      })
    }
  }
}
</script>

<style scoped>
img{display: block;width: 50rpx; height: 50rpx;}
</style>
