<template>
  <div class="section">
    <div class="back" v-if="hasBack" @click="toBack"></div>
    <div class="notice" v-if="notice.money">
      <p>{{notice.money_show}}</p>
      <p v-if="notice.over_time" style="font-weight: bold">{{notice.over_time}}</p>
      <p v-if="notice.time_show">{{notice.time_show}}</p>
       <!-- style="color: #00758E" -->
      <div v-if="timeType == 1">
        <picker class="time-picker" mode=multiSelector :value="timeVal" :range="timeArr" @change="timeChange">
         预约时间至：{{timeShow}}
        </picker>
        <span class="icon-arrow-bottom"></span>
      </div>
    </div>
  	<div class="section" :style="{'padding-bottom': showAdd ? '150px' : 0}">
      <div class="input-area" v-if="lockType">
        <input type="number" name="" v-model="number" placeholder="请输入编码">
        <icon class="clear" type="clear" size="18"/>
      </div>

      <form report-submit @submit="formSubmit" style="text-align: center">
         <!-- :style="{width: lockType ? '100%' : 'auto'}" -->

         <!-- {{isEnough ? '开锁' : '充值并开锁'}} -->
        <button class="sub-btn" formType="submit" type="primary" @click="unLockAction(0)">开锁</button>
      </form>


      <div class="dialog-mask" v-if="isProtocol">
        <div class="dialog-wrapper dialog-pro">
          <div class="header">
            设备使用协议
          </div>
          <div class="main">
            <i class="weui-loading" v-if="!proContent.length"></i>
            {{proContent}}
          </div>
          <form report-submit class="footer" @submit="formSubmit">
            <button class="btn" formType="submit" size="mini" @click="showpro(0)">取消</button>
            <button class="btn" formType="submit" size="mini" @click="showpro(1)">查看</button>
            <button class="btn" formType="submit" size="mini" type="primary" @click="unLockAction(1)">同意并使用</button>
          </form>
        </div>
      </div>

      <div class="add-img" v-if="addImg && showAdd">
        <span class="add-span">广告</span>
         <!-- :style="{height: imgHeight + 'px'}" -->
        <img :src="addImg">
        <span class="add-remove" @click="addRemove">&times;</span>
      </div>
  	</div>
  </div>
</template>

<script>
import Login from '../login/loginDialog.vue'
import Pay from '../../utils/wxpay.js'
import { timeToArr } from '../../utils/index.js'


let imgDefaultHeight = 150


let InnerAudioContext

export default {
  components: {Login},
  data () {
    return {
      hasBack: 0,
    	isEnough: 1,
    	type: 1,
      lockType: 0,
      number: '',
    	money: 0,
      showAdd: 1,
      addImg: '',
      notice: {},
      timeType: 0,
      timeArr: [],
      timeVal: [-1, -1],
      initTime: '',
      initTimeVal: '',

      imgHeight: '',
      formId: '',
      isProtocol: false,

      hasPro: false,
      proContent: '',


      audioSrc: ''
    }
  },
  computed: {
    timeShow(){
      let label = this.timeVal[0] == -1 && this.timeVal[1] == -1 ? this.initTime : `${this.timeArr[0][this.timeVal[0]]} ${this.timeArr[1][this.timeVal[1]]}`
      return label
    },
    timePostVal(){
      return this.timeVal[0] == -1 && this.timeVal[1] == -1 ? this.initTimeVal : `${parseInt(this.timeArr[0][this.timeVal[0]])}:${parseInt(this.timeArr[1][this.timeVal[1]])}`
    }

  },
  methods: {
    dataInit(){
      this.hasPro = false
    },
    toBack(){
      // wx.reLaunch({
      //   url: '/pages/index/main'
      // })
      wx.switchTab({
        url: '/pages/index/main'
      })
    },

    timeChange(e){
      this.timeVal = e.mp.detail.value
      if(this.timeVal[0] == -1){
        this.timeVal[0] = 0
      }
      if(this.timeVal[1] == -1){
        this.timeVal[1] = 0
      }
    },

    formSubmit(e){
      this.formId = e.mp.detail.formId
      let f_id = e.mp.detail.formId
      getApp().globalData.FormIds.push(f_id)
      console.log('formSubmit__FormIds', getApp().globalData.FormIds)
      // console.log('formId', getApp().globalData.FormIds)
    },

    showpro(n){
      if(n){
        wx.navigateTo({
          url: '/pages/protocol/main'
        })
      }else{
        setTimeout(()=>{
          this.isProtocol = false
        }, 80)
      }

    },
  	unLockAction(n){
      if(n){
        this.hasPro = true
        this.sureUnlock()
        setTimeout(()=>{
          this.isProtocol = false
        }, 80)
      }else{
        if(this.timeType && !this.timePostVal.length){
          return !wx.showToast({
            title: '请选择预约时间',
            icon: 'none',
          })
        }
        if(this.hasPro){
          this.sureUnlock()
        }else{
          if(!this.proContent.length){
            this.FunGetPro()
          }
          setTimeout(()=>{
            this.isProtocol = true
          }, 30)
        }
      }
  	},

    sureUnlock(){
      // if(!this.isEnough){
      //   Pay({type: 'CZ', label: '充值', money: this.money, isUnlock: true}, ()=>{
      //     this.FunUnlock()
      //   })
      // }else{
        this.FunUnlock()
      // }
    },

    FunUnlock(){
      setTimeout(()=>{
        let formIds = getApp().globalData.FormIds
        console.log('unlockingOrder__formIds', formIds)
        this.$Https.post('/index/Orders/unlockingOrder', {
          id: getApp().globalData.OrderId,
          uid: getApp().globalData.Uid,
          form_ids: formIds,
          time: this.timePostVal
        }, {isLoading: true}).then(r=>{
          this.checkStatus(1, r)
        }).catch(e=>{
        })
      }, 80)

    },

    checkStatus(n, r){
      switch(r.status){
        case 0:
          getApp().globalData.Eid = r.eid
          getApp().globalData.OrderId = r.order_id;
          getApp().globalData.OrderNo = r.order_no;

          wx.showModal({
            title: '提示',
            content: r.msg,
            showCancel: false,
            confirmText: '确定',
            confirmColor: '#3CC51F',
            success: () => {
              wx.switchTab({
                url: '/pages/index/main'
              })
            }
          })
          break;
        case 1:
          // 订单正常
          this.isEnough = 1;
          getApp().globalData.Eid = n ? r.info.eid : r.eid
          n ? getApp().globalData.OrderNo = r.info.order_no
           : getApp().globalData.OrderId = r.order_id

          // 开锁成功
          if(n){
            wx.showToast({
              title: r.msg,
              icon: 'success', // "success", "loading", "none"
              duration: 1000,
              mask: false,
              success: res => {
                this.audioPlay()
                setTimeout(()=>{
                  wx.switchTab({
                    url: '/pages/index/main'
                  })
                }, 1000)
              },
            })
          }else{
            // 订单成功
            this.notice = r.notice
            this.timeType = r.notice.type
            let times = timeToArr(r.notice.e_time)
            this.timeArr = times
            let h = r.notice.e_time.split(':')
            this.timeVal[0] = times[0].length - 1
            let a = h[1] / 30 > 1 ? '30' : '00'
            // this.timeVal[1] = times[1].indexOf(h[1]+'分')
            this.timeVal[1] = times[1].indexOf(a+'分')
            this.initTime = (h[0] > 10 ? h[0]+'时' : '0' + h[0] + '时') + ':' + a + '分'
            this.initTimeVal = r.notice.e_time
          }
          break;
        case 2:
        case 3:
          this.isEnough = 0
          getApp().globalData.Eid = r.eid
          getApp().globalData.OrderId = r.order_id;
          getApp().globalData.OrderNo = r.order_no;

          this.type = r.status == 2 ? 0 : 1
          if(r.status == 3){
            this.notice = r.notice
            this.money = r.money
            this.timeType = r.notice.type

            if(!n){
              let times = timeToArr(r.notice.e_time)
              this.timeArr = times
              let h = r.notice.e_time.split(':')
              this.timeVal[0] = times[0].length - 1
              let a = h[1] / 30 > 1 ? '30' : '00'
              this.timeVal[1] = times[1].indexOf(a+'分')
              this.initTime = (h[0] > 10 ? h[0]+'时' : '0' + h[0] + '时') + ':' + a + '分'
              this.initTimeVal = r.notice.e_time
            }else{
              Pay({type: 'CZ', label: '支付', money: r.money, isUnlock: true}, ()=>{
                this.FunUnlock()
              })
            }
          }else{
            wx.showModal({
              title: '提示',
              content: r.msg,
              showCancel: false,
              confirmText: '确定',
              confirmColor: '#3CC51F',
              success: (res) => {
                if(res.confirm) {
                  // wx.redirectTo({
                  //   url: '/pages/index/main'
                  // })
                  wx.switchTab({
                    url: '/pages/index/main'
                  })
                }
              }
            })
          }
        break;
        default: break;
      }
    },

    audioPlay(){
      // this.audioCtx.play()
      console.log('InnerAudioContext', InnerAudioContext)
      if(!InnerAudioContext) {
        InnerAudioContext = wx.createInnerAudioContext()
        InnerAudioContext.autoplay = true
        InnerAudioContext.obeyMuteSwitch = false
        InnerAudioContext.src = 'http://www.gsmgx.com/'+ this.audioSrc
      }
      InnerAudioContext.stop()
      InnerAudioContext.play()
    },

    audioPause(){
      if(!InnerAudioContext) return
      InnerAudioContext.stop()
    },

    FunGetAudio(){
      this.$Https.get('/admin/Upload/getvoice').then(r => {
        this.audioSrc = r.path
      }).catch(e => {
        this.audioSrc = null
      })
    },

    FunGetPro(){
      this.$Https.post('/index/Accmoney/info_protocol/', {min: 1}).then(r=>{
        console.log('协议=>', r)
        this.proContent = r.content
      }).catch(e=>{
        console.log('e', e)
      })
    },

  	FunOrderCreate(uid, number){
      let _u = getApp().globalData.UserData
      // if(_u.credit.credit < _u.credit.min_credit && _u.deposit == 0){
      //   wx.showModal({
      //     title: '提示',
      //     content: '当前信用分低于免押金信用分，需缴纳押金才可继续使用',
      //     showCancel: false,
      //     confirmText: '确定',
      //     confirmColor: '#3CC51F',
      //     success: (res) => {
      //       wx.redirectTo({
      //         url: '/pages/deposit/main?credit=' + JSON.stringify(_u.credit)
      //       })
      //     }
      //   })
      // }else{
    		this.$Https.post('/index/Orders/checkOrder', {
    			qr_no: number,
    			uid
    		}).then(r=>{
    			console.log('OrderCreate', r)
          this.checkStatus(0, r)
    		}).catch(e=>{
    		})
      // }
  	},
  	orderCreated(number){
  		this.FunOrderCreate(getApp().globalData.Uid, number)
  	},
    addRemove(){
      this.showAdd = 0
    }
  },
  onLoad(opt){
    this.FunGetAudio()
  	console.log('unLock___onLoad', opt)
    this.hasBack = opt.hasBack
    this.lockType = opt.lockType || 0
    opt.dn && this.orderCreated(opt.dn)
  },
  mounted(){
    getApp().globalData.FormIds = []
    this.isProtocol = this.hasPro = false

    this.showAdd = 1

    this.formId = ''
    this.timeVal = [-1, -1]
    let ratio = imgDefaultHeight/wx.getSystemInfoSync().windowWidth
    this.imgHeight = ratio * wx.getSystemInfoSync().windowWidth

    this.$Https.get('/ad/Index/get_ad/position/1').then(r=>{
      this.addImg = r.data
    }).catch(e=>{
    })
  },
  onHide(){
    // if(InnerAudioContext) InnerAudioContext.stop()
  },
  onShow(opt){
    // this.dataInit()
    // console.log('unLock___onShow', opt)
    this.isEnough = getApp().globalData.moneyEnough || 1
  }
}
</script>

<style lang="less" scoped>
.back{position: absolute; top: 10px;left: 10px; width: 30px;height: 30px;border-radius: 50%;border: 1px solid #888;background: #fff url(../../asset/images/back.png) no-repeat center;background-size: 70%; z-index: 2}
.section .section{justify-content: center;}
.notice{margin-top: 20px;padding: 20px 20px 20px 70px;font-size: 16px; color: #666}
.picker-btn{border: none;padding: 0;height: initial;width: 100%;}

.sub-btn{width: 75%;padding: 0 60px;letter-spacing: 3px;}

.input-area{
  position: relative;
  input{height: 40px;line-height: 40px;padding: 5px 20px;margin-bottom: 20px;background-color: #eee;border: 1px solid #ddd;border-radius: 20px;font-size: 18px;box-sizing: border-box;}
  .clear{position: absolute;padding: 5px;right: 7px;top: 6px;z-index: 2}
}
.add-img{
  position: absolute;bottom: 0;left: 0;width: 100%;
  span{position: absolute;background-color: #fff;}
  .add-span{font-size: 10px;padding: 1px 10px;}
  .add-remove{right: 0;padding: 0 8px;font-size: 14px;}
  img{width: 100%;height: 150px;}
}
.dialog-pro{
  .weui-loading{display: block;margin: 0 auto;}
}
.dialog-pro{
  .footer{display: flex;}
  .btn{flex: 1;padding-top: 2px;padding-bottom: 2px; font-size: 14px;}
}
.time-picker{display: inline-block; color: #00758E}
.icon-arrow-bottom{
  position: relative;top: 8px;left: 5px;
    &:after{
    content: '';
    position:absolute;
    top:0;
    left:0;
    border-width:6px;
    border-style:solid;
    border-color:#00758E transparent transparent transparent;
  }
}
</style>
