<template>
  <div>
  	<img v-for="(v, i) in imgData" :src="v" alt="" :key="i">
  	<button type="primary" @click="toBack">我知道了</button>
  </div>
</template>

<script>

import Img1 from '../../asset/images/1.jpg'
import Img2 from '../../asset/images/2.jpg'
import Img3 from '../../asset/images/3.jpg'
import Img4 from '../../asset/images/4.jpg'
export default {
  components: {},
  data () {
    return {
    	imgData: [Img1, Img2, Img3, Img4]
    }
  },
  methods: {
  	toBack(){
  		wx.navigateBack()
  	}
  }
}
</script>

<style scoped>
div{background: #fff;padding: 10px 10px 30px 10px;}
img{width: 100%;vertical-align: middle}
button{margin: 30px 20px 0;}
</style>
