<template>
  <div class="section">
    <!-- <navigator class="record-img" url="../moneyRecord/main"></navigator> -->
    <navigator class="record-img btn-tx" url="../moneyRecord/main">账户流水</navigator>
      <img :src="img">
    <p>账户余额</p>
    <span>{{moneyNum}}<font>元</font></span>
    <!-- <div v-if="isDeposit == -1" class="deposit-label">（信用分良好，免押金）</div> -->

    <div class="btns">
      <button class="btn-cz" type="primary" @click="navigateTo('reCharge')">去充值</button>
      <button class="btn-cz" @click="txClick">申请提现</button>
      <template v-if="isDeposit == 0">
        <button @click="navigateTo('deposit')">缴纳押金</button>
        <p>缴纳押金后才可以使用设备</p>
      </template>
      <button v-if="isDeposit > 0" @click="backDep">押金：{{isDeposit}} 元，退押金</button>
      <!-- <span size="mini" type="text" class="btn-tx" @click="txClick">申请提现</span> -->
    </div>
  </div>
</template>

<script>
import ImgMoney from '../../asset/images/money_128.png'
export default {
  components: {},
  data () {
    return {
      img: ImgMoney,
      moneyNum: 0,
      txMoney: 0,
      isDeposit: -1
    }
  },
  methods: {
    navigateTo(name){
      let _url = ''
      switch(name){
        case 'reCharge': _url = '/pages/recharge/main'; break;
        case 'deposit':
          let _u = getApp().globalData.UserData.credit
          _url = '/pages/deposit/main?credit=' + JSON.stringify(_u); break;
      }
      wx.navigateTo({
        url: _url
      })
    },
    FunWallet(){
      this.$Https.get('/index/Accounts/getAccountInfo/uid/'+getApp().globalData.Uid, {isLoading: true})
      .then(r=>{
        console.log('moneyR', r)
        this.moneyNum = r.money
        this.txMoney = r.tx_money
      }).catch(e=>{
        console.log('moneyError', e)
      })
    },
    txClick(){
      let _canTx = +this.txMoney > 0
      wx.showModal({
        title: '提示',
        content: _canTx ? `可提现${this.txMoney}元，是否继续？` : '大于0.00元才可提现',
        showCancel: _canTx,
        confirmText: '确定',
        confirmColor: '#3CC51F',
        success: (res) => {
          if(_canTx && res.confirm){
            this.FunTx()
          }
        }
      })
    },

    FunTx(){
      // this.$Https.post('/member/Withdrawal/index', {
      this.$Https.post('/pay/Wechatrefund/refund', {
        uid: getApp().globalData.Uid,
        refund: this.txMoney
      },{isLoading: true}).then(r=>{
        console.log('r', r)
        wx.showToast({
          title: r.info,
          icon: r.status ? 'success' : 'none', // "success", "loading", "none"
          duration: 2000,
          mask: false,
        })
        r.status && setTimeout(()=>{this.FunWallet()}, 1000)
      }).catch(e=>{
        console.log('e', e)
      })
    },

    backDep(){
      wx.showModal({
        title: '提示',
        content: '暂不支持自助退押金，请联系客服',
        showCancel: false,
        confirmText: '确定',
        confirmColor: '#3CC51F',
        success: (res) => {
          // res.confirm 为 true 时，表示用户点击了确定按钮
        }
      })
    }
  },
  mounted(){
    console.log('wallet__mounted', this)
  },
  onLoad(opt){
    // this.isDeposit = opt.de
  },
  onShow(){
    console.log('wallet__onShow', this)
    this.FunWallet()
  }
}
</script>

<!-- FFAC24 -->
<!-- efb336 -->

<style scoped lang="less">
  .section{position: relative;align-items: center;justify-content: center;}
  .record-img{position: absolute;/*width: 26px;height: 26px;background: url(../../asset/images/wallet-record_32.png) no-repeat center;background-size: 30px;*/top: 20px;right: 10px;padding: 10px; }
  .deposit-label{color: #09BB07;font-size: 14px;}
  .btns{
    display: flex;width: 90%;margin-top: 60px;text-align: center;
    p{margin-top: 5px}
    .btn-cz{flex: 1;margin: 0 10px;}
  }
  img{width: 100px;height: 100px;}
  p{margin-top: 15px;font-size: 14px;color: #888}
  span{line-height: 1;font-size: 40px;}
  font{font-size: 16px;}
  .btn-cz{margin-bottom: 15px;}
  .btn-tx{/*float: right;*/padding: 5px 10px;font-size: 13px;color:rgba(0, 0, 0, 0.6);}
</style>
